{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/taxiapp/taxiapp_home.css' %}" />
{% endblock %}

{% block content %}
<body>
  <main>
    <section class="hero-section">
        <div class="container">
          <h1>Search Users In Our Network</h1>
          <p>Make Friends, Learn, and Explore</p>
        </div>
      </section>
    <section class="search-section">
      <div class="container">
        <h1>Search Users</h1>
        <form method="GET" action="{% url 'search_people' %}">
          <div class="form-group">
            <input
              type="text"
              name="query"
              class="form-control"
              placeholder="Search for people..."
              value="{{ request.GET.query }}"
            />
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </section>
    <section class="search-results-section">
      <div class="container">
        <h2>Search Results</h2>
        <div class="row">
          {% for user in users %}
          <div class="col-md-4">
            <div class="user-card">
              <h3>
                <a href="{% url 'public_user' user.username %}">{{ user.username }}</a>
              </h3>
              {% if request.user.is_authenticated %}
                {% if user == request.user %}
                  <!-- Do nothing, it's the current user -->
                {% elif user in friends %}
                  <form method="POST" action="{% url 'unfriend' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unfriend</button>
                  </form>
                {% elif has_sent_request|get_item:user %}
                  <form method="POST" action="{% url 'cancel_friend_request' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Cancel Request</button>
                  </form>
                {% else %}
                  <form method="POST" action="{% url 'send_friend_request' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add Friend</button>
                  </form>
                {% endif %}
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login to send friend request</a>
              {% endif %}
            </div>
          </div>
          {% empty %}
          <p>No users found.</p>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
</body>
{% endblock %}