language: python
env:
  global:
    #AWS Secret Access Key
    - secure: RD/vZFd5yiyTKzvNwwRmoEwLVwOIp2QRTmB53vGCXwonhwlJdyNqc45M+gHxdUmHpyFMDi8bCAnt47gapn0NGHIn08O4zDuLdMi4711hCwaUXKToLFC8rdzZxmnDUfKTKloq2qPVlV3E3uOuQcdJJXL5yWLG1VMcaiI1koY7Obm92IALNKRezj9KSMx2f3bNpV+XSKNU/qrgGUnkMSramhIYp3z2tedKSMutRd4o3Q/N9CkqGBPuPgJxIC5aolIxSEbh7IRL26YdG9qo9a7drQEW4AgB2iQTlF5GnkMZAPvv8UA0AAJltX56m54qRwd+SjSGSJZ1vi403vNhmOBYsFHgFkI9wzuxIMsgbd2HgE0EvHUbEelyvj6Xhwz2DWuIRXffssJ20qkmEUdxHYHG+8D4TTJN2nCD7KyTJsMoa+w4vC8mewmLVXVfjA2eFS9ts/6jAHdJ7tFE4nvsoFfksiilsgHPGfJtDFh6RNT3CKCFqPqGUJw2yieMQCs2cT5KPRw3uQgxDsWg1Ic8RtE1Cwd22ljoxhdPnu+UnZYwWpln1g5rwN7rD0kfz6VM/k01EYpU+ZxuG2vt5gGhRlm7kxl/P80Py5Hf42zRSGN7wkoajHR0EunB+yDkPk+dYT0bmkkhCYb54zvqHKzqm1ICpJomqxMPG4d4GnCgzeJY5d8=
    \SECRET_KEY:
      secure: EI3+SXxuFSl7l8gz27It4J+L5mdBoxd2NPLGY7tLgFQ2lrBOXqRRXU0oBWOs5A935MKascJXsX/YIbw2K4NPXJotNJt64VJqyJOFH8rKXAm8xvDYf8RT/I0iJKd13mzPbvJI2E55bLjnjTXpFPQ8SVqLwo/wCTmSq19xUE7IXfwQV4DP5yC+a2BTEptf3UBEzU9iGEei+9bSu/KXk7X51kXiDft0ulA2hMMtRNAFV5XDzS5wsf1Y5apuf/f3VkXcbiS5uLxIkGXsfdBnsRbzYm7T1biPdg0AOQJCjAOBesd+1z5cgdzeVn7LzyUznU6CR2rm3mSmFI+hyuPqjpdKg69/eItzAncyS5yE9yCxGhe9kLPAcaE2SH1A94aboKylxIgTGaGZ+TlieSRs8pYu5N97tucdssQbgL4Vpwey3292pKPZ7eq9q3jmLeNw+y8ex0kzD58bDAMi+GMgQ4uww2eCIu6Qxd68oTXwsw/0pZoI3Hje9PvuIOraHN7Kv/2ug5cJC9GR5BkMefK38V+2aShovlpXdzDeQZ1RToKIRFlA3eZ5eFiE9HF49msxs1ekI8VvA85B6SAmLGBhVxpvfdeOIXPh9pFx/98RcevUFr7yO0n3Y895ftb19lBwBGD0wrY0JCr6DTgmXdF1ePUAd1JUgB4xXjKGwuxRJzxVNK0=
    COGNITO_DOMAIN=https://taxiapp.auth.us-east-1.amazoncognito.com
    COGNITO_USER_POOL_ID=us-east-1_xjtJDp8bd
    COGNITO_APP_CLIENT_ID=4534h0um83kap0o29gqt5heids
    COGNITO_AWS_REGION=us-east-1
    COGNITO_APP_CLIENT_\SECRET:
      secure: XIZUhjkDo8eNTmgpNIA9g2LiCA33SJlyiKedgZehGiRGdNT/Ic9E993k/SMGWY0lkq/dRE6AJ+fPnMlO90dfiNSK1s6WDaFHQDln7/3+WqpeToouyw5Gby+Y+I/n3RCRkvpxVXjGH0HQU4GjWrduUZ+/JPe/akfxzQmdwY2rPvGInjNr/D9HvIaa3nRv99emKjqERZbIKl+OrDdx3Y6M0E7+Mt2+IJTjv5ds3szfdmjkCNo0AdczINpX+E6ZELWD3S3yKniiiwg4ChYbNSer5ZisYDb6+SsuTBAtkgZspAz7h9iNvAC7sMRk2PvGnfdkQltJZH0jAClnRSGe2UIXkocGxCxNGN6S2Q1gP8Vu0N6ZxCcfW2IfBFHWHuQg/Zb0GZzIycq+d9cBz4H03l32jyDpoLCsJNqIvtPZl6hMGQGRr1RcbU1AnAjR44Z+B1tqAFeAxbB99L/dNV/3Aszlyhod5NVoPnOt+BPggeMJSfMIm17X7ea4/Clwfg5sbRqX08d9nrT47OQzZkgQ7mDRRVcufBJBDbOKTuPD+GhmfoUQIDucrpZvJND++i3VQ5/qPf4SYSGkUUtEhhnqeP3m5yZktfKhrYrFMxhkkFSi6XHSrHEcjM0sd23v2RqFdmQsu1GiFtnWi2JiMxePQ7A6iA3Kgj6pT4sc/fgBj19g2+Q=


install:
- cd taxiapp
- pip install -r requirements.txt
before_script:
- python manage.py migrate
script:
- black --check .
- flake8 .
- coverage run --source=taxiapp manage.py test
- coverage report
after_script:
- coveralls
deploy:
  provider: elasticbeanstalk
  access_key_id: AKIA6ASHD2VT2VLIVJUW
  secret_access_key:
    secure: RD/vZFd5yiyTKzvNwwRmoEwLVwOIp2QRTmB53vGCXwonhwlJdyNqc45M+gHxdUmHpyFMDi8bCAnt47gapn0NGHIn08O4zDuLdMi4711hCwaUXKToLFC8rdzZxmnDUfKTKloq2qPVlV3E3uOuQcdJJXL5yWLG1VMcaiI1koY7Obm92IALNKRezj9KSMx2f3bNpV+XSKNU/qrgGUnkMSramhIYp3z2tedKSMutRd4o3Q/N9CkqGBPuPgJxIC5aolIxSEbh7IRL26YdG9qo9a7drQEW4AgB2iQTlF5GnkMZAPvv8UA0AAJltX56m54qRwd+SjSGSJZ1vi403vNhmOBYsFHgFkI9wzuxIMsgbd2HgE0EvHUbEelyvj6Xhwz2DWuIRXffssJ20qkmEUdxHYHG+8D4TTJN2nCD7KyTJsMoa+w4vC8mewmLVXVfjA2eFS9ts/6jAHdJ7tFE4nvsoFfksiilsgHPGfJtDFh6RNT3CKCFqPqGUJw2yieMQCs2cT5KPRw3uQgxDsWg1Ic8RtE1Cwd22ljoxhdPnu+UnZYwWpln1g5rwN7rD0kfz6VM/k01EYpU+ZxuG2vt5gGhRlm7kxl/P80Py5Hf42zRSGN7wkoajHR0EunB+yDkPk+dYT0bmkkhCYb54zvqHKzqm1ICpJomqxMPG4d4GnCgzeJY5d8=
  region: us-east-1
  app: taxiapp
  env: taxiapp-dev
  bucket_name: elasticbeanstalk-us-east-1-963295565159
  on:
    repo: gcivil-nyu-org/INET-Wednesday-Spring2024-Team-3
    branch: 
      - master
      - testbranch
  skip_cleanup: 'true'
  