language: python

env:
  global:
    - SECRET_KEY=$SECRET_KEY
    - COGNITO_DOMAIN=$COGNITO_DOMAIN
    - COGNITO_USER_POOL_ID=$COGNITO_USER_POOL_ID
    - COGNITO_APP_CLIENT_ID=$COGNITO_APP_CLIENT_ID
    - COGNITO_AWS_REGION="$COGNITO_AWS_REGION"
    - COGNITO_APP_CLIENT_SECRET=$COGNITO_APP_CLIENT_SECRET

install:
  - cd taxiapp
  - pip install -r requirements.txt
before_script:
  - python manage.py migrate
script:
  - black --version
  - black --check .
  - flake8 .
  - coverage run --source=taxiapp manage.py test
  - coverage report
after_script:
  - coveralls
before_deploy:
  - python manage.py collectstatic --noinput
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_KEY
  secret_access_key: $AWS_SECRET_KEY
  region: us-east-1
  app: taxiapp
  env: taxiapp-dev
  bucket_name: elasticbeanstalk-us-east-1-963295565159
  on:
    repo: gcivil-nyu-org/INET-Wednesday-Spring2024-Team-3
    branch: 
      - master
  cleanup: 'false'
