<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <!-- Include CSS, JavaScript here -->
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/">Taxi Compare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="/tools">Tools</a></li>
                <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="/profile" class="btn btn-outline-success my-2 my-sm-0" role="button">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" role="button">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/login" class="btn btn-outline-success my-2 my-sm-0" role="button">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="btn btn-outline-success my-2 my-sm-0" role="button">Register</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <!-- Footer content here -->

    <!-- Scripts -->
    <!-- Script tags here -->
</body>

</html>