{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaxiApp Forms</title>
    <link rel="stylesheet" href="{% static 'css/taxiapp/taxiapp_confirm.css' %}">
</head>
{% block content %}
<body>

    <form method="post" action="{% url 'confirm' %}"> 
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="confirmation_code" placeholder="Confirmation Code" required>
        <button type="submit">Confirm Account</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
    

</body>
{% endblock %}
</html>
