<h3>Pending Friend Requests</h3>
<div class="friend-request-list">
    {% for friend_request in friend_requests %}
    <div class="friend-request-item">
        <p>{{ friend_request.from_user.username }}</p>
        <form method="POST" action="{% url 'accept_friend_request' friend_request.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Accept</button>
        </form>
    </div>
    {% empty %}
    <p>No pending friend requests.</p>
    {% endfor %}
</div>

<h3>Friends</h3>
<div class="friend-list">
    {% for friend in friends %}
    <div class="friend-item">
        <p>{{ friend.username }}</p>
        <form method="POST" action="{% url 'unfriend' friend.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Friend</button>
        </form>

    </div>
    {% empty %}
    <p>You have no friends yet.</p>
    {% endfor %}
</div>