option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "taxiapp.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        SECRET_KEY: $SECRET_KEY
        COGNITO_DOMAIN: https://taxiapp.auth.us-east-1.amazoncognito.com
        COGNITO_USER_POOL_ID: us-east-1_xjtJDp8bd
        COGNITO_APP_CLIENT_ID: 4534h0um83kap0o29gqt5heids
        COGNITO_AWS_REGION: us-east-1
        COGNITO_APP_CLIENT_SECRET: 194t8b57d9uikl7f19pnih83vn8l2i19mhkm5rpjes5irnthrtuk
    aws:elasticbeanstalk:container:python:
        WSGIPath: taxiapp.wsgi:application