option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "taxiapp.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        SECRET_KEY: $SECRET_KEY
        COGNITO_DOMAIN: "https://taxiapp.auth.us-east-1.amazoncognito.com"
        COGNITO_AWS_REGION: "us-east-1"
        COGNITO_USER_POOL_ID: "us-east-1_xjtJDp8bd"
        COGNITO_APP_CLIENT_ID: "65m32409ggfu1rrvh8cu0e77kf"
        COGNITO_APP_CLIENT_SECRET: "1emnsaq6i4i6mo4upjek69fh0hnrjmo73jer7mamriap3irpv5n0"
    
    aws:elasticbeanstalk:container:python:
        WSGIPath: taxiapp.wsgi:application
