option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "taxiapp.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        SECRET_KEY: $SECRET_KEY
        COGNITO_DOMAIN: https://taxiapp.auth.us-east-1.amazoncognito.com
        COGNITO_USER_POOL_ID: $COGNITO_USER_POOL_ID
        COGNITO_APP_CLIENT_ID: $COGNITO_APP_CLIENT_ID
        COGNITO_AWS_REGION: $COGNITO_AWS_REGION
        COGNITO_APP_CLIENT_SECRET: $COGNITO_APP_CLIENT_SECRET
    aws:elasticbeanstalk:container:python:
        WSGIPath: taxiapp.wsgi:application