{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaxiApp Forms</title>
    <link rel="stylesheet" href="{% static 'css/taxiapp/taxiapp_login.css' %}">
   
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var errorMessage = document.getElementById("error-message");

            var regex = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

            if (!regex.test(password)) {
                errorMessage.textContent = "Password must be at least 8 characters long, contain at least one number, one special character, one uppercase letter, and one lowercase letter.";
                return false; // Prevent form submission
            }

            errorMessage.textContent = ""; // Clear error message
            return true; 
        }
    </script>
</head>

<body>

    <form method="post" action="{% url 'login' %}" onsubmit="return validatePassword()">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>

    <p id="error-message" style="color: red;"></p> <!-- Error message display -->

    <div class="footer-links">
        <a href="{% url 'reset' %}">Reset Password</a>
        <a href="{% url 'register' %}">Don't have an account? Signup</a>
    </div>

    <footer>
        <p>NYU Tandon School of Engineering</p>
    </footer>
</body>

</html>